body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-color: #202f42;
}

.login{
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.349);
  padding: 2%;
  border-radius: 15px;
}
.login h1{
  color: #446588;
}
.form {
  --bg-light: #efefef;
  --bg-dark: #707070;
  --clr: #446588;
  --clr-alpha: #9c9c9c60;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  
}
#username,#password{
  width: 80%;
}

.form .input-span {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.form .input-span label{
  margin-left: 2vw;
}

.form input[type="text"],
.form input[type="password"] {
  border-radius: 0.5rem;
  padding: 15px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-alpha);
  outline: 2px solid var(--bg-dark);
  width: 100%;
  color: wheat;
}

.label {
  align-self: flex-start;
  color: var(--clr);
  font-weight: 600;
}

.form .submit {
  padding: 1rem 0.75rem;
  width: 50%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 3rem;
  background-color: var(--bg-dark);
  color: var(--bg-light);
  border: none;
  cursor: pointer;
  transition: all 300ms;
  font-weight: 600;
  font-size: 0.9rem;
}

.form .submit:hover {
  background-color: var(--clr);
  color: var(--bg-dark);
}

.span {
  text-decoration: none;
  color: var(--bg-dark);
}

.span a {
  color: var(--clr);
}